<div class="form">
  <h2>Login</h2>

  <div class="form-group">
    <label for="email">Username</label>
    <input type="text" class="form-control" id="username" required [(ngModel)]="loginUser.username" name="username" />
    <label for="password">Password</label>

    <input
      type="password"
      class="form-control"
      id="password"
      required
      [(ngModel)]="loginUser.password"
      name="password"
      #userPassword="ngModel"
    />

    <input type="submit" name="" (click)="login()" value="Login" />
  </div>
</div>
