/*.login {
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #23a984;
}
.textcolor {
  color: #23a984;
}

.radius {
  border-radius: 50px;
}*/

.form {
  width: 30%;
  margin-left: 35%;
  text-align: center;
  margin-top: 50px;
  padding: 50px;
}

input {
  border-radius: 25px;
  font-size: 1.6rem;
}

input[type="submit"] {
  margin-top: 30px;
  padding: 0.2rem 2rem 0.3rem 2rem;
  border: none;
  color: white;
  background-color: #159c5f;
}
.textcolor {
  color: #23a984;
}
