.main {
  margin: 0px 10%;
  padding: 70px 100px;
}

.news-placeholder {
  margin-top: 50px;
}

.news-card {
  background-color: #fff;
  padding: 50px;
  margin-bottom: 50px;
  display: block;
  border: solid 1px #eee;
}

h5 {
  color: #23a984;
  font-size: 1rem;
}
