<div class="form">
  <h2>Registration</h2>

  <form class="form-group">
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control"
      id="email"
      required
      [(ngModel)]="user.email"
      name="email"
      pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
      [ngClass]="{ 'is-invalid': regEmail.errors && regEmail.touched }"
      #regEmail="ngModel"
    />
    <div [hidden]="!regEmail.errors?.pattern" class="invalid-feedback"><h6>Email is not valid</h6></div>

    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" required [(ngModel)]="user.username" name="username" />

    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" required [(ngModel)]="user.password" name="password" />
    <input type="submit" name="" (click)="onSubmit()" value="Register" />
  </form>
</div>
