.user {
  text-align: center;
  background-color: white;
  padding: 50px 1%;
  width: 23%;
  margin: 0 1%;
  margin-bottom: 50px;
  border: solid 1px #ddd;
  -margin-left: 1%;
}

.circle {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  font-size: 50px;
  color: #ccc;
  line-height: 10vw;
  margin-left: 4vw;
  margin-bottom: 70px;
  text-align: center;
  background: #000;
  background: #23a984;
  text-transform: uppercase;
  display: inline-block;
}
